## Preparation of data:

In [5]:
import pandas as pd
questions = pd.read_csv('../data/csv/Questions.csv', encoding = "ISO-8859-1")
answers = pd.read_csv('../data/csv/Answers.csv', encoding = "ISO-8859-1")
tags = pd.read_csv('../data/csv/Tags.csv', encoding = "ISO-8859-1")

In [2]:
questions.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...

In [3]:
answers.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
2,199,50.0,2008-08-01T19:36:46Z,180,1,<p>I've read somewhere the human eye can't dis...
3,269,91.0,2008-08-01T23:49:57Z,260,4,"<p>Yes, I thought about that, but I soon figur..."
4,307,49.0,2008-08-02T01:49:46Z,260,28,"<p><a href=""http://www.codeproject.com/Article..."

In [29]:
tags.head()

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn

In [34]:
combined = questions.merge(answers, left_on=['OwnerUserId','Id'], right_on = ['OwnerUserId','ParentId'], how='inner')

In [43]:
combined = combined.rename(columns = {'Id_x': 'QID',
                           'CreationDate_x': 'QuestionCreationDate', 
                           'Score_x': 'QuestionScore', 
                           'Body_x': 'QuestionBody', 
                           'CreationDate_y': 'AnswerCreationDate', 'Score_y': 'AnswerScore', 'Body_y': 'AnswerBody'})
combined = combined.drop(['Id_y', 'ParentId'], axis = 1)
combined.head()

,QID,OwnerUserId,QuestionCreationDate,ClosedDate,QuestionScore,Title,QuestionBody,AnswerCreationDate,AnswerScore,AnswerBody
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,2008-08-01T16:09:47Z,12,<p>I wound up using this. It is a kind of a ha...
1,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...,2008-08-01T23:49:57Z,4,"<p>Yes, I thought about that, but I soon figur..."
2,810,233.0,2008-08-03T20:35:01Z,NaN,9,Visual Studio Setup Project - Per User Registr...,<p>I'm trying to maintain a Setup Project in <...,2008-08-03T20:45:27Z,0,<p>I'm partway to my solution with this entry ...
3,810,233.0,2008-08-03T20:35:01Z,NaN,9,Visual Studio Setup Project - Per User Registr...,<p>I'm trying to maintain a Setup Project in <...,2008-08-03T22:34:06Z,0,"<p>Despite what the <a href=""http://msdn.micro..."
4,1160,120.0,2008-08-04T11:37:24Z,NaN,36,Use SVN Revision to label build in CCNET,<p>I am using CCNET on a sample project with S...,2008-08-04T11:51:59Z,3,"<p>I found <a href=""http://code.google.com/p/s..."

In [44]:
grouped_tags = tags.groupby('Id')['Tag'].apply(list)

In [45]:
tags_combined = combined.merge(grouped_tags, left_on=['QID'], right_on = ['Id'], how='inner')

In [50]:
tags_combined.shape

(130025, 11)

In [51]:
#tags_combined.to_csv('stackoverflowdatasample.csv')

In [2]:
data = tags_combined
rows = data.shape[0]
cols = data.shape[1]
print(f"Rows: {rows} and Cols: {cols}")
print(f"Sample data: {data.head()}")

NameError: name 'tags_combined' is not defined

## Data Cleaning:

## EDA: