## Preparation of data:

In [94]:
import seaborn as sns
import matplotlib.pyplot as plt
import nltk

# import sys
# !{sys.executable} -m pip install nltk

In [138]:
import pandas as pd
questions = pd.read_csv('../data/csv/Questions.csv', encoding = "ISO-8859-1")
answers = pd.read_csv('../data/csv/Answers.csv', encoding = "ISO-8859-1")
tags = pd.read_csv('../data/csv/Tags.csv', encoding = "ISO-8859-1")

In [124]:
questions.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...

In [97]:
questions.shape

(1264216, 7)

In [98]:
answers.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
2,199,50.0,2008-08-01T19:36:46Z,180,1,<p>I've read somewhere the human eye can't dis...
3,269,91.0,2008-08-01T23:49:57Z,260,4,"<p>Yes, I thought about that, but I soon figur..."
4,307,49.0,2008-08-02T01:49:46Z,260,28,"<p><a href=""http://www.codeproject.com/Article..."

In [99]:
tags.head()

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn

In [139]:
questions_and_answers = questions.merge(answers, left_on=['OwnerUserId','Id'], right_on = ['OwnerUserId','ParentId'], how='left')

In [140]:
questions_and_answers = questions_and_answers.rename(columns = {'Id_x': 'QID',
                           'CreationDate_x': 'QuestionCreationDate', 
                           'Score_x': 'QuestionScore', 
                           'Body_x': 'QuestionBody', 
                           'CreationDate_y': 'AnswerCreationDate', 'Score_y': 'AnswerScore', 'Body_y': 'AnswerBody'})
questions_and_answers = questions_and_answers.drop(['Id_y', 'ParentId'], axis = 1)
questions_and_answers.head()

,QID,OwnerUserId,QuestionCreationDate,ClosedDate,QuestionScore,Title,QuestionBody,AnswerCreationDate,AnswerScore,AnswerBody
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,2008-08-01T16:09:47Z,12.0,<p>I wound up using this. It is a kind of a ha...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...,NaN,NaN,NaN
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...,NaN,NaN,NaN
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...,NaN,NaN,NaN
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...,2008-08-01T23:49:57Z,4.0,"<p>Yes, I thought about that, but I soon figur..."

In [102]:
questions_and_answers.shape

(1265467, 10)

In [141]:
grouped_tags = tags.groupby('Id')['Tag'].apply(list)

In [142]:
dataset_with_tags = questions_and_answers.merge(grouped_tags, left_on=['QID'], right_on = ['Id'], how='right')

In [105]:
dataset_with_tags.head()

,QID,OwnerUserId,QuestionCreationDate,ClosedDate,QuestionScore,Title,QuestionBody,AnswerCreationDate,AnswerScore,AnswerBody,Tag
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,2008-08-01T16:09:47Z,12.0,<p>I wound up using this. It is a kind of a ha...,"[flex, actionscript-3, air]"
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...,NaN,NaN,NaN,"[svn, tortoisesvn, branch, branching-and-merging]"
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...,NaN,NaN,NaN,"[sql, asp.net, sitemap]"
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...,NaN,NaN,NaN,"[algorithm, language-agnostic, colors, color-s..."
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...,2008-08-01T23:49:57Z,4.0,"<p>Yes, I thought about that, but I soon figur...","[c#, .net, scripting, compiler-construction]"

In [154]:
data = dataset_with_tags.copy(deep=True)
rows = data.shape[0]
cols = data.shape[1]
print(f"Rows: {rows} and Cols: {cols}")
print(f"Sample data: {data.head()}")

Rows: 1265467 and Cols: 11
Sample data:    QID  OwnerUserId  QuestionCreationDate            ClosedDate  \
0   80         26.0  2008-08-01T13:57:07Z                   NaN
1   90         58.0  2008-08-01T14:41:24Z  2012-12-26T03:45:49Z
2  120         83.0  2008-08-01T15:50:08Z                   NaN
3  180    2089740.0  2008-08-01T18:42:19Z                   NaN
4  260         91.0  2008-08-01T23:22:08Z                   NaN

   QuestionScore                                              Title  \
0             26  SQLStatement.execute() - multiple queries in o...
1            144  Good branching and merging tutorials for Torto...
2             21                                  ASP.NET Site Maps
3             53                 Function for creating color wheels
4             49  Adding scripting functionality to .NET applica...

                                        QuestionBody    AnswerCreationDate  \
0  <p>I've written a database generation script i...  2008-08-01T16:09:47Z
1  <p>Are there any really good tutorials explain...                   NaN
2  <p>Has anyone got experience creating <strong>...                   NaN
3  <p>This is something I've pseudo-solved many t...                   NaN
4  <p>I have a little game written in C#. It uses...  2008-08-01T23:49:57Z

   AnswerScore                                         AnswerBody  \
0         12.0  <p>I wound up using this. It is a kind of a ha...
1          NaN                                                NaN
2          NaN                                                NaN
3          NaN                                                NaN
4          4.0  <p>Yes, I thought about that, but I soon figur...

                                                 Tag
0                        [flex, actionscript-3, air]
1  [svn, tortoisesvn, branch, branching-and-merging]
2                            [sql, asp.net, sitemap]
3  [algorithm, language-agnostic, colors, color-s...
4       [c#, .net, scripting, compiler-construction]

In [145]:
print("Total no of questions:",data["QID"].nunique())

Total no of questions: 1264216

## Data Cleaning:

In [144]:
grouped_tags = tags.groupby(['Id', 'Tag']).size().groupby(level=1).sum()
print(grouped_tags)  # count of each tag

Tag
.a                13
.app              14
.aspxauth          6
.bash-profile     46
.class-file       19
                ...
zwoptex            3
zxing            159
zxspectrum         1
zynq              11
zypper             2
Length: 37034, dtype: int64

In [155]:
actual_data = data.copy(deep=True)
all_tags_list = [item for row in data['Tag'] for item in row]
tags_counts = nltk.FreqDist(all_tags_list)
_50_most_common = tags_counts.most_common(50)
most_common_tags = [tag[0] for tag in _50_most_common]
print(f"Taking 10 most common - {most_common_tags}")

Taking 10 most common - ['javascript', 'java', 'c#', 'php', 'android', 'jquery', 'python', 'html', 'c++', 'ios', 'mysql', 'css', 'sql', 'asp.net', 'objective-c', 'ruby-on-rails', '.net', 'c', 'iphone', 'angularjs', 'arrays', 'sql-server', 'json', 'ruby', 'r', 'ajax', 'regex', 'xml', 'node.js', 'asp.net-mvc', 'linux', 'django', 'wpf', 'database', 'swift', 'xcode', 'string', 'excel', 'vb.net', 'windows', 'spring', 'wordpress', 'eclipse', 'html5', 'multithreading', 'oracle', 'git', 'facebook', 'forms', 'bash']

In [156]:
# filtering the dataset with only the most common tags
def most_common(tags):
    tags_to_send = []
    for t in tags:
        if t in most_common_tags:
            tags_to_send.append(t)
    return tags_to_send


data['Tag'] = data['Tag'].apply(lambda x: most_common(x))
data['Tag'] = data['Tag'].apply(lambda x: x if len(x) > 0 else None)
data['Tag'] = data['QuestionScore'].apply(lambda x: x if x >= 3 else None)
data.dropna(subset='Tag', inplace=True)

In [157]:
print(data["QID"].nunique())
print(actual_data["QID"].nunique())

188015
1264216

In [152]:
print(data)

              QID  OwnerUserId  QuestionCreationDate            ClosedDate  \
2             120         83.0  2008-08-01T15:50:08Z                   NaN
4             260         91.0  2008-08-01T23:22:08Z                   NaN
5             330         63.0  2008-08-02T02:51:36Z                   NaN
6             470         71.0  2008-08-02T15:11:47Z  2016-03-26T05:23:29Z
7             580         91.0  2008-08-02T23:30:59Z                   NaN
...           ...          ...                   ...                   ...
1263919  40106430    1430927.0  2016-10-18T10:59:50Z                   NaN
1264085  40110020    7036902.0  2016-10-18T13:46:05Z                   NaN
1264166  40111730    2907948.0  2016-10-18T15:01:30Z                   NaN
1264316  40115300    1840804.0  2016-10-18T18:18:05Z  2016-10-20T18:37:41Z
1264705  40125310    3507917.0  2016-10-19T07:53:09Z                   NaN

         QuestionScore                                              Title  \
2                   21                                  ASP.NET Site Maps
4                   49  Adding scripting functionality to .NET applica...
5                   29          Should I use nested classes in this case?
6                   13              Homegrown consumption of web services
7                   21   Deploying SQL Server Databases from Test to Live
...                ...                                                ...
1263919             14   Using lambda in default initializer gcc vs clang
1264085              6                      STL list very bad performance
1264166              7           How to use a dict to subset a DataFrame?
1264316              7  Is there a way to use itertools in python to c...
1264705              6  Why does my result data returned as void* gets...

                                              QuestionBody  \
2        <p>Has anyone got experience creating <strong>...
4        <p>I have a little game written in C#. It uses...
5        <p>I am working on a collection of classes use...
6        <p>I've been writing a few web services for a ...
7        <p>I wonder how you guys manage deployment of ...
...                                                    ...
1263919  <pre><code>#include &lt;cassert&gt;\n\nint mai...
1264085  <p>It's supposed that "push_back" and "pop_fro...
1264166  <p>Say, I have given a DataFrame with most of ...
1264316  <p>Let's say I have the following code:</p>\n\...
1264705  <p>I am working in a project with a huge legac...

           AnswerCreationDate  AnswerScore  \
2                         NaN          NaN
4        2008-08-01T23:49:57Z          4.0
5                         NaN          NaN
6                         NaN          NaN
7                         NaN          NaN
...                       ...          ...
1263919                   NaN          NaN
1264085                   NaN          NaN
1264166                   NaN          NaN
1264316                   NaN          NaN
1264705                   NaN          NaN

                                                AnswerBody   Tag
2                                                      NaN  21.0
4        <p>Yes, I thought about that, but I soon figur...  49.0
5                                                      NaN  29.0
6                                                      NaN  13.0
7                                                      NaN  21.0
...                                                    ...   ...
1263919                                                NaN  14.0
1264085                                                NaN   6.0
1264166                                                NaN   7.0
1264316                                                NaN   7.0
1264705                                                NaN   6.0

[57540 rows x 11 columns]

## EDA: